@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7.5%;
    --foreground: 210 40% 98%;

    --card: 0 0% 7.5%;
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 7.5%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 0 0% 15.3%;
    --muted-foreground: 0 0% 56.1%;

    --accent: 0 0% 15.3%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 15.3%;
    --input: 0 0% 15.3%;
    --ring: 0 0% 15.3%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 7.5%;
    --foreground: 210 40% 98%;

    --card: 0 0% 7.5%;
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 7.5%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 0 0% 15.3%;
    --muted-foreground: 0 0% 56.1%;

    --accent: 0 0% 15.3%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 15.3%;
    --input: 0 0% 15.3%;
    --ring: 0 0% 15.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #FFF;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.big-green-button {
  background-color: rgba(67, 175, 67, 1);
  box-shadow: 0 0 35px rgba(0, 255, 0, 0.25);
  transition: box-shadow 0.3s ease;
}

.big-green-button:hover {
  background-color: #53CF53;
  box-shadow: 0 0 55px rgba(0, 255, 0, 0.55);
}
