/* Reset and base styles */
body,
h1,
p {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
:root {
  --foreground: hsl(210, 40%, 98%);
}

body {
  background-color: #171717;
  color: #fff;
}

body {
  font-family: 'Inter', sans-serif;
}

header,
main,
footer {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

#logo {
  width: 60px;
  height: auto;
}

h1 {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 30px;
}

/* App.css */
header button {
  background-color: #171717;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

header button:hover {
  background-color: rgba(93, 240, 6, 0.8);
}

/* Main content styles */
.input-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#promptInput {
  width: 100%;
  padding: 10px 15px 10px 15px;
  padding-right: 90px;
  font-size: 16px;
  color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
  background-color: #171717;
  border: 1px solid #333333;
}

#promptInput:focus {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  outline: none;
}

#generateImage {
  position: absolute;
  top: 50%;
  right: -105px;
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: rgba(93, 240, 6, 0.8);
  color: #fff;
  border: 1px solid #333333;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
}

#generateImage:hover {
  background-color: rgba(93, 240, 6, 0.8);
  color: #fff;
  box-shadow: 0 0 20px rgba(93, 240, 6, 0.8);
}

#result {
  width: 1000px;
  margin-top: 50px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #333333;
  background-color: #171717;
  justify-content: flex-start;
}

.generatedImage {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 5px;
}
.image1 {
  width: 250px;
  height: 250px;
  object-fit: cover;
  align-self: flex-start;
}

.image2 {
  width: 440px;
  height: 500px;
  object-fit: cover;
}

.image4 {
  width: 250px;
  height: 250px;
  object-fit: cover;
  align-self: flex-start;
}

.left-images,
.center-left-images,
.right-images {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 2px;
  /* margin-right: 10px; */
}

.image-container {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  display: flex;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-container:hover .overlay-text {
  opacity: 1;
}

#output {
  width: 1000px;
  margin-top: 50px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #333333;
  background-color: #171717;
  justify-content: flex-start;
}

/* Footer styles */
footer {
  margin-top: 80px;
  text-align: center;
  font-size: 18px;
  color: #7f8c8d;
}

.info-box {
  width: 100%;
  padding: 20px;
  margin-top: 40px;
  background-color: #171717;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
